# ignore ALL hidden files
.vscode
.env
__pycache__
credentials.json
credentialsdesktop.json
token.json
.dockerignore
docker-compose.yml
Dockerfile
output.txt
.DS_Store
.gcloudignore
app.yaml

# ignore venv
env